﻿@model Licenses.Models.License

@{
    ViewData["Title"] = "LicenseDetail";
}

<h1>LicenseDetail</h1>

<div>
    <h4>License</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terms)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>*@
</div>
