﻿@model WebLicenseMVC.Models.LicenseListModel

@{
    ViewData["Title"] = "LicensesList";
    //Layout = "~/Views/_ViewImports.cshtml";
}

<h1>LicensesList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Jmeno
            </th>
            <th>
                Terms
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Licenses) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Terms)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LicenseName">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Terms">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
